@model IEnumerable<Glamping_Addventure2.Models.Permiso>
@{
    ViewData["Title"] = "Lista de Permisos";
}

<h2>Permisos</h2>
<a asp-action="Create">Crear Nuevo Permiso</a>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
